/* Mobile styles (0px–480px) */

h1 {
    font-size: 18px;
    text-align: center;
}
h2, h3{
    font-size: 16px;
    text-align: center;
}
video{
    width: 90%;
    height: auto;
    display: block;
    margin: 10px auto;
}
.top-links{
    text-align: center;
}
.top-links a{
    display: block;
    width: 90%;
    margin: 8px auto;
    padding: 8px;
    font-size: 14px;
}
.project-explanation h4{
    font-size: 14px;
}
.project-item{
    display: block;
    width: 90%;
    font-size: 14px;
    margin: 10px auto;
}
.bottom-links{
    text-align: center;
}
.bottom-links a{
    line-height: 0;
}
.box{
    width: 120px;
    height: 50px;
    margin: 10px auto;
    background: black;
    border-radius: 75px;
    text-align: center;
}
.box a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 14px;
    text-decoration: none;
    line-height: 50px;
}